div.results{
	text-align: center;
	h2{
		text-align: center;
	}
	img.userProfile{
		width: 100px;
		border-radius: 5px;
		margin-bottom: 20px;

	}
}
div.resultsHeader{
	font-size: 2rem;
	@include blueGradient();
	height: 120px;
	padding-top: 30px;
	border-bottom: 2px solid black;
	margin-bottom: 60px;
	h1{
		color: white;
		font-size: 2em;
		letter-spacing: 5px;
		text-align: center;
	}
}

div.loading{
	margin-top: 50px;
	h1{
		margin-bottom: 50px;
	}
	text-align: center;
	img{
		width: 200px;
		@include animation-name(instaSpinLoad);
		@include animation-iteration-count(infinite);
		@include animation-duration(2s);
	}
}

div.container.results{
	border-radius: 50px;
	font-size: 2rem;
	margin-top: 50px;
	@include animation-name(fadeInUp);
	@include animation-duration(1s);
	ul.nav-tabs{
		margin-bottom: 50px;
		li{
			a{
				font-family: $header-font;
				color: $instaBlue;
			}
			&:hover{
				a{
					background: white;
				}
			}
		}
	}



}











@include keyframes(instaSpinLoad) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(fadeInUp){
	from{
		opacity: 0;
		padding-top: 100px;
	}
	to{
		opacity: 1;
		padding-top: 0px;
	}
}



.fa{
	font-size: 60px;
	color: $instaBlue;
}


