div.grade, div.relationships, div.more-analytics, div.photos{
	min-height: 600px;
	font-size: 2rem;
	text-align: center;
	h2{
		text-align: center;
		font-size: 2em;
	}
}










div.relationships{
	// background: purple;
}

div.more-analytics{
	// background: yellow;
}

div.photos{
	// background: orange;
}