div.relationships{
	img{
		width: 80px;
		border-radius: 5px;
	}
	li{
		font-size: .5em;
		list-style-type: none;
	}
	div.img-container{
		margin-bottom: 30px;
	}

	hr{
		margin: 80px 0;
		color: #ddd;
	}

	.warning{
		color: #D91E18;
	}
	






}