div.grade, div.relationships, div.more-analytics, div.media{
	min-height: 600px;
	font-size: 2rem;
	text-align: center;
	h2{
		text-decoration: underline;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h4{
		margin: 10px 0;
		font-size: 1em;
	}
	h5{
		font-size: .9em;
	}
	p{
		font-size: .6em;
	}
}



//_________________________Media Section__________________________
div.media{
	padding-bottom: 150px;
	div.img-container{
		margin-bottom: 50px;
	}
	img{
		max-width: 300px;
	}
	p.noMorePics, p.noMoreVids{
		color: red;
	}
	p.intro-sentence{
		margin-bottom: 15px;
	}

	ul.stats{
		padding: 0 70px;
		width: 100%;
		font-size: .6em;
		li{
			font-size: 1.2em;
			&:first-of-type{
				margin-bottom: 5px;
			}
			// background: red;
			height: 25px;
			position: relative;
		}
		b{
			padding-top: 5px;
			font-size: .75em;
			position: absolute;
			left: 50px;
		}
		i{
			position: absolute;
			right: 50px;
			// font-size: 1.2em;
		}
		span.comments-plus{
			position: absolute;
			left: -30px;
			top: -12px;
			font-size: 2em;
			color: $instaBlue;
			&.active{
				@include transform(rotate(45deg));
			}
			&:hover{
				cursor: pointer;
			}
		}
	}

	ul.comments{
		z-index: 100000;
		position: absolute;
		background: white;
		left: 40px;
		margin: auto;
		margin-top: 20px;
		width: 320px;
		text-align: left;
		// background: steelblue;
		font-size: .5em;
		&.hidden{
			display: none;
		}
		div.comment{
			// background: purple;
			border-bottom: 1px solid black;
			padding-bottom: 5px;
		}
		div.comment-bio{
			display: table-cell;
			height: 100%;
			width: 35%;
			// background: orange;
			span.comment-name{
				display: inline-block;
			}
			img.comment-pic{
				display: inline-block;
				width: 50px;
				border-radius: 0px;
			}
		}
		div.comment-text{
			// need to display table-cell to set height to 100%
			height: 100%;
			margin-top: 10px;
			display: table-cell;
			width: 65%;
			// background: yellow;
			position: relative;
			li{
				// centers comment text vertically
				display: block;
				vertical-align: middle;
				position: absolute;
				top: 30%;
				transform: translateY(-30%);
			}
		}
	}
}

//_________________________Rules specific to video section__________________________

video{
	width: 300px;
	border-radius: 20px;
}






div.relationships{
	// background: purple;
}

div.more-analytics{
	// background: yellow;
}

