<div main-navbar></div>

<div class="faq container fade-in-up">


	<h1>About</h1>
	<div class="row">

		<div class="col-md-8 col-md-offset-2 about">
			<p>MediaScore is an Instagram analytics and grading tool.  It displays your media and info in unique ways, and provides a score to your account.  It was created by Peter Krieg as a project for the coding bootcamp Dev Mountain.  I had a ton of fun making this and have memorized my Instagram photos in the process.  It is an attempt to show employers that I can code and that I would like a job please! </p>



		</div>
	</div>




	<hr>













	<h1>FAQ</h1>

	<div class="row questions" >

		<div class="col-md-8 col-md-offset-2">

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">How Does MediaScore Work?</p>
				<div class="answer-container">
					<p class="answer-text">When you sign in with Instagram, the web app gets lots of data from Instagram&mdash;your media, people who have liked your media, the media you have liked.  The program processes this information and bundles it into a "report" which represents a snapshot of your profile at that instant.  By comparing multiple reports over time, the program can give extensive info about your account.  </p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">Why The Name MediaScore?</p>
				<div class="answer-container">
					<p class="answer-text">I had a hard time coming up with ideas.. yeah I know it's a bad name.  You have a better name?  <a href="mailto:pkrieg2@gmail.com">Let me know</a></p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">What Does MediaScore do With My Data?</p>
				<div class="answer-container">
					<p class="answer-text">We just show it back to you, and it remains completely private.  Instagram requires all apps to follow strict privacy policies in order to access user data. See the <a ui-sref="privacy">privacy</a> section for more details.</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">How do I Generate Another Report For My Account?</p>
				<div class="answer-container">
					<p class="answer-text">Go to your account section by clicking the user icon in the top right, and account on the drop down menu.  Click the "new report" button.</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">Why Are the Reports So Slow to Load?</p>
				<div class="answer-container">
					<p class="answer-text">To gather all of your data, the program needs to make hundreds, usually thousands of requests to Instagram.  While this is a bit faster with a good internet connection, the limiting factor is the speed Instagram sends the data back, which is out of the program's control.  As long as you don't close your tab and come back later, the data should be loaded eventually.  The report loading can take up to 45 minutes for large accounts. </p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">How Does MediaScore Know Who Has Unfollowed Me?</p>
				<div class="answer-container">
					<p class="answer-text">By comparing consecutive reports, the program can see who has unfollowed you&mdash;and give the time range of when that happened by comparing the times of the reports.</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">Why Am I Limited to One Report Per Day?</p>
				<div class="answer-container">
					<p class="answer-text">To save space on storage&mdash;reports can take up to 10MB in size for larger accounts!  (currently working on reducing size).  But maybe there will be future premium paid account for reports every hour, eh?</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">How Is My Instagram Score Calculated?</p>
				<div class="answer-container">
					<p class="answer-text">Sorry, that is the secret sauce to MediaScore!  Just kidding, it's not that secret because it's publicly visible on <a href="https://github.com/peterkrieg/mediaScore/blob/master/client/js/services/analyzeService.js#L483-L616" target="_blank">Github</a>.  The scores are calculated with an attempt to get a normal distribution of scores&mdash;so most people score in the B range, ie.  The overall score is a weighted average of the score components&mdash;so some grade components are more important than others.</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">What do the Scores Mean?</p>
				<div class="answer-container">
					<p class="answer-text">They are a percentage, supposed to be like a school grade.  So, 90-100 is an A, 80-89 a B, 70-79 a C, etc.</p>
				</div>
			</div><!-- question box-->

			<div class="question-box" faq-behavior>
				<i class="fa fa-caret-right"></i>
				<p class="question-text">This is Lame.  How Do I Delete My Account?</p>
				<div class="answer-container">
					<p class="answer-text">Go to your account page, and click on the settings tab.  Then click the "delete account" button and your account and all report data will be permanently deleted!</p>
				</div>
			</div><!-- question box-->























		</div>
	</div>











































</div><!-- faq container-->

<div my-footer type="check"></div>
