<div class="home-page">
	


	<div class="intro-container" >
		<div class="intro-content">
			<h1>Welcome to InstaScore</h1>
			<img class="insta-logo" src="img/insta-logo.png" alt="">
			<h3>More Feedback on Your Instagram Than You Ever Wanted!</h3>


			<!-- Top button is for development purposes, with different client ID -->
			<!-- <div class="button login"><a href="https://instagram.com/oauth/authorize/?client_id=c4fe6f461c5a45908a0ffbbe43abac84&redirect_uri=http://localhost:8080&response_type=token">Login With Instagram</a></div> -->

			<!-- _________This button is for actual deployed site, on peterkrieg.com__________________________ -->
			<div class="button"><a href="https://instagram.com/oauth/authorize/?client_id=be00cab2884d420fa56d6d3bd584edb6&redirect_uri=http://peterkrieg.com/insta&response_type=token">Login With Instagram</a></div>



			<br>
			<div class="button demo" ng-click="fireDemo()"><a>Or See a Demo</a><i class="fa fa-long-arrow-right arrow"></i></div>
		</div>
	</div>

	<div class="container instructions">
		<div class="row">
			<div class="col-sm-6">
				<i class="fa fa-users users"></i>
				<h2>Info About Your Relationships</h2>
				<p>See more info about your followers than you ever wanted.  See who doesn't follow you back.  And see who follows you, and you don't follow you back.  InstaScore is not liable for any broken friendships caused.</p>
			</div>
			<div class="col-sm-6">
				<i class="fa fa-line-chart"></i>
				<h2>Analytics About Stuff</h2>
				<p>More numbers and graphs than should ever be involved with instagram.  See your total likes received and given.  Discover the timing of your instagram posts that yields the most likes.  See graphs and time charts about everything possible about your posts!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<i class="fa fa-camera-retro"></i>
				<h2>See Your Media</h2>
				<p>See your pictures and videos, filterable, and sortable based on different parameters.  Want to see which pictures you use #blessed in?  We can show that.  Want to sort your media based on popularity?  We can show that.  And a whole lot more.</p> 
			</div>
			<div class="col-sm-6">
				<i class="fa fa-thumbs-o-up"></i>
				<h2>So Much More!</h2>
				<p>In Beta mode: grading feature to give you the ultimate arbitrary score of your social media status.  See how you compare to other users of instaScore based on our instant percentile score rank.  See which areas of your instagram you need to improve on to get more followers!</p> 
			</div>
		</div>
	</div>


	<footer>
		<p class="copyright">Copyright InstaScore 2015</p>
		<p>Created by Peter Krieg</p>



	</footer>





</div> <!--home page-->












