<div class="home-page">
	


	<div class="intro-container" >
		<div class="intro-content">
			<h1>Welcome to InstaScore</h1>
			<img class="insta-logo" src="img/insta-logo.png" alt="">
			<h3>More Feedback on Your Instagram Than You Ever Wanted!</h3>


			<!-- Top button is for development purposes, with different client ID -->
			<div class="button"><a href="https://instagram.com/oauth/authorize/?client_id=c4fe6f461c5a45908a0ffbbe43abac84&redirect_uri=http://localhost:8080&response_type=token">Login With Instagram</a></div>

			<!--_________This button is for actual deployed site, on peterkrieg.com__________________________-->
			<!-- <div class="button"><a href="https://instagram.com/oauth/authorize/?client_id=be00cab2884d420fa56d6d3bd584edb6&redirect_uri=http://peterkrieg.com/insta&response_type=token">Login With Instagram</a></div> -->
			<br>
			<div class="button demo" ng-click="fireDemo()"><a>Or See a Demo</a><i class="fa fa-long-arrow-right arrow"></i></div>
		</div>
	</div>

	<div class="container instructions">
		<div class="row">
			<div class="col-sm-6">
				<i class="fa fa-users users"></i>
				<h2>Info About Your Relationships</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quia dolor quidem harum maxime, modi error, autem enim tenetur unde! Earum, nobis porro quod ullam distinctio cupiditate maxime nostrum veniam?</p>
			</div>
			<div class="col-sm-6">
				<i class="fa fa-line-chart"></i>
				<h2>Analytics About Stuff</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime minus explicabo, odio eligendi inventore possimus iure, molestiae assumenda atque illum magni ipsa rem ab dolorem unde, similique earum quisquam. Magnam!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<i class="fa fa-camera-retro"></i>
				<h2>See Your Pictures</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur laudantium amet unde at nesciunt deserunt repellat autem minima culpa, neque iste? Possimus voluptatibus nihil autem unde in, perferendis doloremque.</p>
			</div>
			<div class="col-sm-6">
				<i class="fa fa-thumbs-o-up"></i>
				<h2>So Much More!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptatibus praesentium, reiciendis, natus nostrum debitis iusto ducimus a similique dicta eius magnam, iste cupiditate quo qui corrupti ullam deleniti, ipsam!</p>
			</div>
		</div>
	</div>


	<footer>
		


		
	</footer>





</div> <!--home page-->












