<div class="intro-container" >
	<div class="intro-content">
		<h1>Welcome to InstaScore</h1>
		<h3>More Feedback on Your Instagram Than You Ever Wanted!</h3>


		<!-- Top button is for development purposes, with different client ID -->
		<div class="button"><a href="https://instagram.com/oauth/authorize/?client_id=c4fe6f461c5a45908a0ffbbe43abac84&redirect_uri=http://localhost:8080&response_type=token">Login With Instagram</a></div>

		<!--_________This button is for actual deployed site, on peterkrieg.com__________________________-->
		<!-- <div class="button"><a href="https://instagram.com/oauth/authorize/?client_id=be00cab2884d420fa56d6d3bd584edb6&redirect_uri=http://peterkrieg.com/insta&response_type=token">Login With Instagram</a></div> -->





	</div>

	



</div>

