div.grade{
	padding-bottom: 50px;
	div.grade-item{
		margin: 20px auto;
		position: relative;
		// min-height: 150px;
		background: #f3f3f3;
		border-radius: 10px;
	}
	div.grade-visible{
		p{
			font-family: $header-font;
			font-size: .72em;
		}
		padding: 30px 0px;
	}
	div.grade-bar{
		max-width: 800px;
		// make final grade bar bigger, to emphasize
		&.final-grade{
			max-width: 1000px;
		}
		width: 90%;
		margin: 20px auto;
		height: 30px;
		// final grade bar bigger, emphasize
		&.final-grade{
			height: 40px;
		}
		background: white;
		border: 1px solid black;
		// @include border-right-radius(5px);
		border-radius: 5px;
	}
	div.grade-score{
		@include animation(barGrowth 3s ease);
		height: 28px;
		&.final-grade{
			height: 38px;
		}
		@include border-left-radius(5px);
	}

	// plus icon to show explanation
	span.show-explanation{
		font-weight: 100;
		font-size: 50px;
		right: 10px;
		top: 10px;
		&:hover{
			cursor: pointer;
		}
		position: absolute;
		@include transition(.3s ease);
		&.reveal{
			@include transform(rotate(45deg));
			@include transition(.5s ease);
		}
	}

	div.grade-explanation{
		padding-bottom: 30px;
		p{
			text-align: left;
			font-size: .5em;
			line-height: 1.5em;
		}
	}


	// equation CSS, everything to make equation
	// was going to use mathJAX, but hard to make work
	// with angular, and don't need much of LaTeX, just
	// fractions, which I could do with pure CSS I decided

	div.equation{
		// background: gold;
		@include tabletOrLess {
			padding-top: 13px;
		}
	}

	div.fraction{
		font-size: .5em;
		// background: green;
		display: inline-block;
	}
	div.numerator{
		// background: orange;
		padding-bottom: 5px;
		border-bottom: 2px solid black;
	}

	div.denominator{
		padding-top: 3px;
	}

	div.result{
		// padding-bottom: 10px;
		font-size: .6em;
		display: inline-block;
		// background: lightblue;
		position: relative;
		bottom: 11px;
	}

	p.overall-score{
		font-size: .8em;
		font-family: $header-font;
		strong{
			margin-left: 10px;
		}
	}





































}// end of grade div, nothing below this