//_________________________Media Section__________________________
div.media{
	padding-bottom: 150px;
	div.img-container{
		display: inline-block;
		margin-bottom: 50px;
	}
	img{
		max-width: 300px;
		@include smallphone {
			max-width: 200px;
		}
	}
	p.noMorePics, p.noMoreVids{
		color: red;
	}
	p.intro-sentence{
		margin-bottom: 15px;
	}
	h6{
		font-size: .9em;
		text-decoration: underline;
	}
	.media{
		border-radius: 20px;
	}



	// ________controls________
	div.controls-container{
		margin-bottom: 20px;
	}

	div.controls{
		margin: 10px 0;
		li{
			position: relative;
			list-style-type: none;
			font-size: .6em;
			display: inline-block;
			padding: 2px 20px;
			&:hover{
				cursor: pointer;
			}
			&.active{
				// font-weight: bold;
				color: $instaBlue;
			}
		}
		i.fa{
			color: $instaBlue;
			@include transition(.2s ease);
			font-size: 1.5em;
			padding-left: 5px;
			// background: red;
			position: absolute;
			right: 0;
			bottom: 1px;
		}
		i.fa.fa-refresh{
			font-size: .8em;
		}
	}

	div.search{
		h6{
			margin-bottom: 10px;
		}
	}

	









	.descending i.fa{
		// background: green;
		bottom: -3px  !important;
		right: -4px !important;
		@include transform(rotate(180deg));
		@include transition(.5s ease);
		&.fa-refresh{
			bottom: 1px !important;
		}
	}





	ul.stats{
		// background: blue;
		padding: 0 70px;
		@include desktop {
			padding: 0 50px;
		}
		width: 90%;
		margin: auto;
		font-size: .6em;
		li{
			width: 300px;
			@include phoneOrLess {
				width: 200px;
			}
			font-size: 1.2em;
			&:first-of-type{
				margin-bottom: 5px;
			}
			// background: red;
			height: 25px;
			position: relative;
		}
		b{
			padding-top: 5px;
			font-size: .75em;
			position: absolute;
			left: 50px;
			@include desktop {
				left: 0px;

			}
		}
		i{
			position: absolute;
			right: 50px;
			// font-size: 1.2em;
		}
		span.comments-plus{
			position: absolute;
			left: -30px;
			top: -12px;
			font-size: 2em;
			color: $instaBlue;
			&.active{
				@include transform(rotate(45deg));
			}
			&:hover{
				cursor: pointer;
			}
		}
	}

	ul.comments{
		z-index: 100000;
		position: absolute;
		background: white;
		left: 18%;
		margin: auto;
		margin-top: 20px;
		width: 90%;
		text-align: left;
		// background: steelblue;
		font-size: .4em;
		&.hidden{
			display: none;
		}
		div.comment{
			// background: purple;
			border-bottom: 1px solid black;
			padding-bottom: 5px;
		}
		div.comment-bio{
			display: inline-block;
			height: 100%;
			width: 35%;
			// background: orange;
			span.comment-name{
				display: inline-block;
			}
			img.comment-pic{
				display: inline-block;
				width: 50px;
				border-radius: 0px;
			}
		}
		div.comment-text{
			// need to display table-cell to set height to 100%
			display: inline-block;
			width: 65%;
			// background: yellow;
			position: relative;
			// bottom: 30px;
			li{
				// centers comment text vertically
				display: block;
				// vertical-align: middle;
				// position: absolute;
				// top: 30%;
				// transform: translateY(-30%);
			}
		}
	}
}



//_________________________Rules specific to video section__________________________

video{
	width: 300px;
	border-radius: 20px;
}




