div.relationships{
	padding-bottom: 100px;
	img{
		width: 80px;
		border-radius: 5px;
	}
	
	div.img-container{
		margin-bottom: 30px;
		// background: green;
	}

	div.content-container{
		margin-top: 50px;
	}

	h5{
		margin-bottom: 30px;
	}

	hr{
		margin: 80px 0;
		color: #ddd;
	}

	.warning{
		color: #D91E18;
	}


	// fixed height, so float doesn't break
	// big problem that miles figured out
	div.uniqueFollow, div.liker{
		height: 170px;
	}

	// any name on screen, above picture
	li.name{
		font-size: .5em;
		margin-bottom: 20px;
	}



	// effect for unfollowing/following someone, on hover
	div.actual-image{
		display: inline-block;
		position: relative;
		i.fa{
			opacity: 0;
			@include transition(.2s ease);
			font-size: 60px;
			position: absolute;
			bottom: 50px;
			left: 6px;
			&.unfollow{
				color: darkred;
			}
			&.follow{
				color: green;
			}
		}// end of icon

		// when hovering on picture, have icon slide in
		&:hover{
			cursor: pointer;
			i.fa{
				bottom: 12px;
				@include transition(.5s ease);
				opacity: 1;

			}
		}
	}// end of unfollow/follow effect


	///////////////////////////////////////////////////
	//  Likes Comparison Section
	///////////////////////////////////////////////////

	// bigger height than before, since 
	div.user{
		height: 200px;
		div.name-wrapper{
			margin-bottom: 20px;
		}




		li.name{
			margin-bottom: 0;
			display: inline-block;
			// background: lightblue;
			position: relative;
			i.fa-heart{
				cursor: pointer;
				padding: 5px;
				// background: yellow;
				opacity: 1;
				@include transition(.5s ease);
				position: absolute;
				right: -30px;
				top: -5px;
				color: darkred;
				&.invisible{
					opacity: 0;
				}
			}
		}
	} // div.user


	//_________________________Modal part, of likes comparison__________________________
	div.modal{
		img.user{
			border-radius: 50%;
			border: 2px solid #2e2e2e;
		}
	}





	div.bar-chart-container{
		margin: auto;
		max-width: 200px;
		&:hover{
			cursor: pointer;
		}
		// border-left: 2px solid black;
		div.bar{
			height: 10px;
			background: $instaBlue;
			@include border-right-radius(3px);
			min-width: 2px;
			&:first-of-type{
				margin-top: 10px;
			}
			&:nth-of-type(2){
				margin-top: 2px;
			}
			&.likes-given{
				background: #ffc838;
			}

			



		}

		div.bar-chart{
			// animation effect of sliding bars
			@include animation(barGrowth 1.3s ease);
		}


	}

	///////////////////////////////////////////////////
	//  Instructions example div, with sample bar chart
	///////////////////////////////////////////////////

	div.example{
		position: relative;
		background: #eaeaea;
		border-radius: 12px;
		margin: 30px 0;
		h4{
			margin-bottom: 30px;
		}
		p{
			text-align: left;
			font-size: .55em;
			line-height: 1.2em;
			padding: 0 50px;
			margin-bottom: 30px;
		}
		p.example{
			font-size: .55em;
			line-height: 1.2em;
			padding: 0 50px;
			margin-bottom: 30px;
		}
		strong{
			font-style: italic;
		}
		i.close{
			// position close icon always in top right corner
			position: absolute;
			right: 10px;
			top: 10px;

		}
	}




} // end of relationships 


















