//load script font, just for this page
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);


div.relationships{
	padding-bottom: 100px;
	img{
		width: 80px;
		border-radius: 5px;
	}
	
	div.img-container{
		margin-bottom: 30px;
		// background: green;
	}

	div.content-container{
		margin-top: 50px;
	}

	h5{
		margin-bottom: 30px;
	}

	hr{
		margin: 80px 0;
		color: #ddd;
	}

	.warning{
		color: #D91E18;
	}


	// fixed height, so float doesn't break
	// big problem that miles figured out
	div.uniqueFollow, div.liker{
		height: 170px;
	}

	// any name on screen, above picture
	li.name{
		font-size: .5em;
		margin-bottom: 20px;
	}



	// effect for unfollowing/following someone, on hover
	div.actual-image{
		display: inline-block;
		position: relative;
		i.fa{
			opacity: 0;
			@include transition(.2s ease);
			font-size: 60px;
			position: absolute;
			bottom: 50px;
			left: 6px;
			&.unfollow{
				color: darkred;
			}
			&.follow{
				color: green;
			}
		}// end of icon

		// when hovering on picture, have icon slide in
		&:hover{
			cursor: pointer;
			i.fa{
				bottom: 12px;
				@include transition(.5s ease);
				opacity: 1;

			}
		}
	}// end of unfollow/follow effect


	///////////////////////////////////////////////////
	//  Likes Comparison Section
	///////////////////////////////////////////////////


	// bigger height than before, since 
	div.user{
		height: 200px;
		div.name-wrapper{
			margin-bottom: 20px;
		}




		li.name{
			margin-bottom: 0;
			display: inline-block;
			// background: lightblue;
			position: relative;
			i.fa-heart{
				cursor: pointer;
				padding: 5px;
				// background: yellow;
				opacity: 1;
				@include transition(.5s ease);
				position: absolute;
				right: -30px;
				top: -5px;
				color: darkred;
				&.invisible{
					opacity: 0;
				}
			}
		}
	} // div.user


	//_________________________Modal part, of likes comparison__________________________
	div.instagram-crush-modal{
		background: rgba(0,0,0,.5);
		.modal-dialog{
			@include desktopOrMore {
				width: 800px;
			}
		}

		div.modal-content{

			// for anything I want to hide, before animation starts, and use jquery to remove class later
			.hidden{
				opacity: 0;
			}



			/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
			@include desktopOrMore {
				width: 800px;
			}
		}

		div.modal-header{
			background-image: url("http://www.transparenttextures.com/patterns/green-gobbler.png");

			h4.match-title{
				position: relative;
				@include fadeInSlide(.7s, -50px, ease, 0s);
				font-size: 2em;
				font-family: 'Clicker Script', cursive;
			}
			h6.match-subtitle{
				position: relative;
				@include animation-delay(1s);
				@include fadeInSlide(.7s, -150px, ease, 0s);
			}
		}

		img.user{
			position: relative;
			border-radius: 50%;
			border: 2px solid #2e2e2e;
		}

		///////////////////////////////////////////////////
		//  Animation like Tinder--rolling in images
		///////////////////////////////////////////////////

		// cubic bezier curve, global variable so sass can read it anywhere
		$cubicBezierRoll: cubic-bezier(.3,1.5,.5,1) !global;

		img.left{
			margin-right: 10px;
			// margin-left: 500px;
			@include keyframes(rollLeft) {
				0% {
					opacity: 0;
					left: 500px;
					@include transform(rotate(-90deg));
				}
				100% {
					opacity: 1;
					left: 0px;
					@include transform(rotate(0deg));
				}
			}
			@include animation(rollLeft .8s $cubicBezierRoll 0s);
			// @include animation-delay(.5s);
		}
		img.right{
			@include keyframes(rollRight) {
				0% {
					opacity: 0;
					right: 500px;
					@include transform(rotate(90deg));
				}
				100% {
					opacity: 1;
					right: 0px;
					@include transform(rotate(0deg));
				}
			}
			@include animation(rollRight .8s $cubicBezierRoll 0s);
		}
		///////////////////////////////////////////////////
		//  End animations
		///////////////////////////////////////////////////

		div.modal-body{
			min-height: 200px;
		}

		p.explanation{
			margin: auto;
			width: 90%;
			font-family: $header-font;
			font-size: .6em;
			margin-bottom: 20px;
		}

		div.button{
			cursor: pointer;
			padding-left: 30px;
			border: 1px solid black;
			width: 120px;
			height: 40px;
			border-radius: 5px;
			background: #3B5998;
			color: white;
			margin: auto;
			margin-top: 30px;
			a{
				display: inline-block;
				height: 30px;
				// background: gold;
				border-left: 2px solid rgba(0,0,0,.7);
				padding-left: 20px;
				padding-top: 7px;
				position: relative;
				bottom: 5px;
				font-size: .6em;
				font-family: $header-font;
				i{
					font-size: 1.3em;
					position: absolute;
					left: -30px;
					bottom: 2px;
				}
			}
		}








	} //_______ instagram-crush-modal_________

	





	div.bar-chart-container{
		margin: auto;
		max-width: 200px;
		&:hover{
			cursor: pointer;
		}
		// border-left: 2px solid black;
		div.bar{
			height: 10px;
			background: $instaBlue;
			@include border-right-radius(3px);
			min-width: 2px;
			&:first-of-type{
				margin-top: 10px;
			}
			&:nth-of-type(2){
				margin-top: 2px;
			}
			&.likes-given{
				background: #ffc838;
			}

			



		}

		div.bar-chart{
			// animation effect of sliding bars
			@include animation(barGrowth 1.3s ease);
		}


	}

	///////////////////////////////////////////////////
	//  Instructions example div, with sample bar chart
	///////////////////////////////////////////////////

	div.example{
		position: relative;
		background: #eaeaea;
		border-radius: 12px;
		margin: 30px 0;
		h4{
			margin-bottom: 30px;
		}
		p{
			text-align: left;
			font-size: .55em;
			line-height: 1.2em;
			padding: 0 50px;
			margin-bottom: 30px;
		}
		p.example{
			font-size: .55em;
			line-height: 1.2em;
			padding: 0 50px;
			margin-bottom: 30px;
		}
		strong{
			font-style: italic;
		}
		i.close{
			// position close icon always in top right corner
			position: absolute;
			right: 10px;
			top: 10px;

		}
	}




} // end of relationships 


















