<div class="stats fade-in-up">

	<h1 class="chart-title">{{categories[category].title}}</h1>
	<!-- <h2 class="chart-subtitle">Subtitle goes here!!</h2> -->


	<div class="wow chart-container">
		<div stats-graph id="stats-graph"></div>
	</div>

	<!-- I use ng options to make lots of options to select from
	viewable title, and reference points to stats object key names
	ng-change is callback function, fired to update graphs on page-->
	<select class="form-control" ng-model="selectedItem"
	ng-options="label.ref as label.title for label in labels"
	ng-change="updateChart(selectedItem)"
	></select>
















</div>  <!-- end of stats page, nothing below this-->