<div class="user-profile fade-in-up">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>List of Your Reports</h1>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 ">
			<div class="reports-list-header">
				<h3 class="report-explanation weak-gray">Please Click on a Report to View</h3>
				<div class="button" ng-click="newReport()">
					<a>New Report <span>+<span></a>
				</div>
			</div>

			<!-- Bootstrap alert, error message if hasn't been day since last report -->
			<div ng-if="errorNotDay" class="slide-down error-not-day alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close"  ng-click="toggleError(false)"><span aria-hidden="true">&times;</span></button>
				<p>Sorry, you are limited to one report per 24 hours.  We appreciate how eager you are though!</p>
				<!-- time left error message is custom filter: see in filters folder-->
				<p>Time left to wait:  <strong>{{timeLeft | duration}}</strong></p>
			</div>


			<table class="table" ng-hide="loadingStats">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th class="media">Media</th>
						<th class="followers">Followers</th>
						<th class="follows">Follows</th>
						<th class="likes-given">Likes Given</th>
						<th class="likes-received">Likes Received</th>
					</tr>
				</thead>
				<!-- report.report is the value of the object ID referencing the report -->
				<tr class="report-row" ng-repeat="report in statsReversed" ng-click="loadSpecificReport(report[1].id)">
					<td>{{$index+1}}</td>
					<td>{{report[0] | date: 'MMM d &#8217yy, h:mm a'}}</td>
					<td class="media">{{report[1].numMedia}}</td>
					<td class="followers">{{report[1].numFollowers}}</td>
					<td class="follows">{{report[1].numFollows}}</td>
					<td class="likes-given">{{report[1].numLikesGiven}}</td>
					<td class="likes-received">{{report[1].numLikesReceived}}</td>

				</tr>
			</table>
		</div>
	</div><!-- row -->







	



</div><!-- user-profile -->