<div class="user-profile ">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Profile</h1>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="reports-list-header">
				<h3>List of Your Reports</h3>
				<div class="button" ng-click="newReport()">
					<a>New Report <span>+<span></a>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
					</tr>
				</thead>
				<!-- report.report is the value of the object ID referencing the report -->
				<tr class="report-row" ng-repeat="report in user.reports" ng-click="loadSpecificReport(report.report)">
					<td>{{$index+1}}</td>
					<td>{{report.date | date: 'MMM d &#8217yy, h:mm a'}}</td>
				</tr>
			</table>
		</div>
	</div><!-- row -->







	



</div><!-- user-profile -->