<div class="account">
	<div main-navbar></div>




	<div set-up-tabs class="container results" ng-show="!loading"
	tabs='["reports", "stats", "settings", "relationships"]'
	>

	<ul class="nav nav-tabs">
		<li tab-behavior role="presentation"><a ui-sref="account.reports">Reports</a></li>
		<li tab-behavior role="presentation"><a ui-sref="account.stats">Stats</a></li>
		<li tab-behavior role="presentation"><a ui-sref="account.settings">Settings</a></li>
		<li tab-behavior role="presentation"><a ui-sref="account.relationships">Relationships</a></li>
	</ul>
</div>



<div class="container results-content" ui-view ></div>

</div>










