<div class="main-nav">
		<a class="logo" ui-sref="home">MediaScore</a>

		<div user-menu class="user-profile">
			<img class="user-profile" ng-src="{{user.profilePicture}}" ng-if="!loadingUser" alt="">
			<li>{{user.name}} <i class="fa fa-caret-down"></i></li>
			<div  class="user-menu">
				<a class="menu-item-wrapper" ui-sref="account">
					<div class="menu-item">
						<li>Account</li>
						<i class="fa fa-user"></i>
					</div>
				</a>
				<a class="menu-item-wrapper" href="/api/auth/instagram/logout">
					<div class="menu-item">
						<li>Logout </li>
						<i class="fa fa-sign-out"></i>
					</div>
				</a>
				
			</div>
		</div>

	</div><!-- results header -->