<!-- Footer to be displayed on every page -->
<footer class=" my-footer">
	<div class="container footer-content">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="col-xs-6">
					<div class="footer-group">
						<li><a ui-sref="account.reports">Account</a></li>
						<li><a>FAQ</a></li>
						<li><a>Demo</a></li>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="footer-group">
						<li><a ui-sref="privacy">Privacy</a></li>
						<li><a>About</a></li>
						<li><a href="/api/auth/instagram/logout">Logout</a></li>
					</div>
				</div>

			</div>
		</div><!-- row-->

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 copyright-wrapper" >
				<p class="copyright"><span>&copy;</span> MediaScore 2015</p>
				<p class="created-by">Created by <a href="http://peterkrieg.com" target="_blank">Peter Krieg</a></p>
			</div>


		</div>

	</div><!-- container, footer content-->
</footer>