<!-- Footer to be displayed on every page -->
	<footer class=" my-footer">
		<div class="container footer-content">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="col-xs-6">
						<div class="footer-group">
							<li>FAQ</li>
							<li>Demo</li>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="footer-group">
							<li>Privacy</li>
							<li>About</li>
						</div>
					</div>

				</div>
			</div><!-- row-->

			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 copyright-wrapper" >
					<p class="copyright"><span>&copy;</span> MediaScore 2015</p>
				</div>
				

			</div>

		</div><!-- container, footer content-->
	</footer>