<div main-navbar></div>

<div class="privacy container fade-in-up">
	<h1>Privacy</h1>
	<h3 class="weak-gray">We Take Your Privacy Very Seriously</h3>

	<div class="row">
		<div class="col-lg-8 col-md-10 col-md-offset-1 col-lg-offset-2">
			<ol class="privacy-list">
			<li><span>1.</span><b>None of your Instagram media is stored.</b>  MediaScore only stores URL's of your photos and videos.  Because these are connected directly to Instagram, any changes you make through Instagram will instantly be reflected in MediaScore.</li>
			<li><span>2.</span><b>Only you can view your Instagram media and information.</b>  This is not viewable to any other users.</li>
			<li><span>3.</span><b>We don't store any Instagram login credentials or sensitive information.</b>  We store minimal info about liked media, follows/followers, tagged locations, and generated scores of reports.  This is necessary to record snapshots of your account over time, and to have much faster subsequent logins.</li>
			<li><span>4.</span><b>We don't store any of your information without your explicit permission.</b>  If you for any reason decide to delete your account, all of your information is permanently removed from our servers.</li>
			<li><span>5.</span><b>We don't share any information with external sources.</b>  The small amount of information MediaScore saves is never shared with other companies.</li>


<!-- 			<li><span>6.</span>hello world</li>
			<li><span>7.</span>hello world</li>
 -->			<li><span>6.</span>If you have any questions or comments, please email Peter Krieg at: {{email}}</li>
<!-- 			<li><span>9.</span>hello world</li>
			<li><span>10.</span>hello world</li>
 -->			</ol>





		</div>
	</div>
















</div><!-- privacy whole div-->