<div class="analytics fade-in-up">
	<!-- <h2>Analytics</h2> -->

	<div class="loading" ng-show="loadingEverythingElse">
		<h1>Loading...</h1>
		<h4>{{otherLoadingMessage}}</h4>
		<img src="img/insta-logo.png" alt="">
	</div>


	<div class="analytics-container" ng-if="!loadingEverythingElse">


		<h4>Hashtag vs. Number of Times Used</h4>
		<h6>How many times do you use <em>#blessed</em> ??</h6>
		<!-- <h6>Analyze hashtag usage, show most used hashtags, and success of photos vs hashtag number</h6> -->

		<div class="wow fade-in-up chart-container">
			<div hashtag-bar-chart class="chart hashtag-bar-chart">
			</div>
			<i ng-hide="noMoreLeft"  class="cycle-left fa fa-chevron-left"></i>
			<i ng-hide="noMoreRight"   class="cycle-right fa fa-chevron-right"></i>
		</div>


		<h4>Number of Hashtags vs. Number of Interactions</h4>
		<h6>Each point represents a photo.  Interactions are the sum of comments and likes.</h6>
		<h6>Does this data mean anything? Maybe.  But probably not!</h6>
		<div class="wow fade-in-up chart-container">
			<div hashtag-scatter class="chart hashtag-scatter">

			</div>
		</div>

		<h4>Media by Day of Week</h4>
		<h6>Number of media created for each day of the week.</h6>

		<div class="wow fade-in-up chart-container">
			<div time-bar class="wow chart time-bar">

			</div>
		</div>






	</div><!-- analytics-container-->


</div> <!-- end of analytics div, nothing below this-->