<div  class="relationships fade-in-up">

	<div class="loading" ng-show="loadingEverythingElse">
		<h1>Loading...</h1>
		<h4>{{otherLoadingMessage}}</h4>
		<img src="img/insta-logo.png" alt="">
	</div>


	<div class="relationships-container" ng-show="!loadingEverythingElse">


		<!--_____________Unique Follows_______________-->
		<h4>People you follow, but don't follow you back!</h4>
		<h5 >...How Dare They!!</h5>
		<p class="weak-gray">Get revenge against them now! Click on a person to unfollow</p>
		<div class="unique-follows-container content-container">
			<div class="row">
				<div class="uniqueFollow fade-in-up col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="follow in uniqueFollows">
					<div class="img-container">
						<li class="name">{{follow.full_name || follow.username}}</li>
						
						<div class="actual-image" ng-click="unfollowUser(follow.id)"><img ng-src="{{follow.profile_picture}}" alt=""><i class="fa fa-user-times unfollow"></i></div>
						
					</div>
				</div>
			</div>
		</div>

		<a class="show-more" ng-show="!noMore.uniqueFollows" ng-click="loadMore('uniqueFollows')"><i class="fa fa-chevron-down"></i> See More <i class="fa fa-chevron-down"></i></a>
		<p class="warning fade-in-up" ng-show="noMore.uniqueFollows">No More Unique Follows</p>

		<hr>
		<!--_____________Unique Followers____________-->

		<h4>People that follow you, but you don't follow them back</h4>
		<h5 >...Whatever, they probably aren't worth it?</h5>
		<p class="weak-gray">But if you change your mind, click on a person to follow them :-)</p>

		<div class="unique-follows-container content-container wow fade-in-up">
			<div class="row">
				<div class="uniqueFollow fade-in-up col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="follower in uniqueFollowers">
					<div class="img-container">
						<li class="name">{{follower.full_name || follower.username}}</li>
						<div class="actual-image" ng-click="followUser(follower.id)"><img ng-src="{{follower.profile_picture}}" alt=""><i class="fa fa-user-plus follow"></i></div>
					</div>
				</div>
			</div>
		</div>

		<a class="show-more" ng-show="!noMore.uniqueFollowers" ng-click="loadMore('uniqueFollowers')"><i class="fa fa-chevron-down"></i> See More <i class="fa fa-chevron-down"></i></a>
		<p class="warning fade-in-up" ng-show="noMore.uniqueFollowers">No More Unique Followers</p>


		<hr>


		<!--___Likes Comparison____-->

		<h4>Comparison of Likes</h4>
		<h6>Shows likes given vs. received, for all users involved</h6>

		<!-- example section-->
		<div class="example wow fade-in-up" >
			<div class="row">
				<h4>Instructions</h4>
				<div class="example-content">
					<div class="col-md-4 user fade-in-up">
						<li class="name">Judith Steward</li>
						<img class="user" src="https://randomuser.me/api/portraits/med/women/91.jpg" alt="">

						<div class="bar-chart-container">
							<div class="bar-chart wow" bar-chart-example
							data-html="true" data-toggle="popover" data-placement="bottom" data-title="Judith Steward" data-content="Likes Received: 25<br>
							Likes Given: 16"
							>
							<div style="width: 100%" class=" bar likes-received" ></div>
							<div style="width: 64%" class=" bar likes-given" ></div>
						</div>
					</div>

				</div>
				<div class="col-md-8">
					<p class="example">Here is a fake sample user as an example.  Each user has a mini bar-chart showing the likes comparison.  The blue bar shows the number of likes you've received from the user, and the yellow bar shows the number of likes you've given to the user.   <strong>Please hover or click on any bar chart to see the specific numbers.</strong>    </p>

					<p class="conclusion">In this example, Judith has liked your media 25 times, and you have liked her media 16 times.</p>
					<p class="conclusion">Basically, more blue is better for you!</p>
				</div>
				

			</div>
			<i class="close fa fa-times" ng-click="closeExample()"></i>
		</div>

	</div> <!-- end of example div-->



	<div class="likers-container content-container fade-in-up">
		<div class="row">
			<h6>Filter by User Name</h6>
			<div class="search-wrapper" searchbar-expand>
				<i class="fa fa-search"></i>
				<input class="search-bar" type="text" placeholder='ie, "Jane Doe" ' ng-model="myFilter.name">
			</div>



		</div>


		<div class="row">
			<div class="user fade-in-up col-md-3 col-sm-4 col-xs-6" ng-repeat="user in likesComparisonArr | filter: myFilter">
				<div class="name-wrapper">
					<li class="name">{{user.name}} 
						<i  ng-if="user.mostLikesReceived" 
							  class="fa fa-heart wow invisible" 
							  data-wow-delay="2s" heart-behavior>
						</i>
					</li>
				</div>
				<img class="user" ng-src="{{user.pic}}" alt="">

				<div class="bar-chart-container">
					<div class="wow bar-chart" bar-chart
					data-html="true" data-toggle="popover" data-placement="bottom" data-title="{{user.name}}" data-content="Likes Received: {{user.likesReceived}}<br>
					Likes Given: {{user.likesGiven}}"

					>
					<div class="bar likes-received" ></div>
					<div class="bar likes-given" ></div>
				</div>
			</div>


		</div>
	</div>

	<a class="show-more" ng-show="!noMore.likesComparisonArr" ng-click="loadMore('likesComparisonArr')"><i class="fa fa-chevron-down"></i> See More <i class="fa fa-chevron-down"></i></a>
	<p class="warning fade-in-up" ng-show="noMore.likesComparisonArr">No More liked users to show</p>
</div>




<!-- Modal for best friend, when heart clicked -->

<!-- Modal -->
<div class="modal instagram-crush-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content col-md-10">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="match-title" id="myModalLabel">It's a Match!</h4>
        <h6 class="match-subtitle">You and {{mostLikesReceived.name}} have liked each other. </h6>
        <!-- <h6>Congrats, {{user.name}}.  Your Instagram crush is {{mostLikesReceived.name}}!</h6> -->
      </div>
      <div class="modal-body">
        <div class="row">
        <p class="explanation">{{mostLikesReceived.name}} is your Instagram crush, liking {{mostLikesReceived.likesReceived}} out of your {{user.numMedia}} pieces of media. ({{100*mostLikesReceived.likesReceived/user.numMedia | number: 0 }}%)</p>
        	<div class="col-md-12">
        		<div class="pictures">
        			<img class="user left" ng-src="{{user.profilePicture}}" alt="">
        			<img class="user right" ng-src="{{mostLikesReceived.pic}}" alt="">
        		</div>
        		
        	</div>
        	<div class="col-md-12">
        		<div facebook-share class="button share-facebook">
        			<a  class="facebook-share-link"><i class="fa fa-facebook"></i>Share</a>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>






	</div><!--relationships container-->
</div> <!-- end of relationships section-->