<div class="media fade-in-up">
	<!-- <h2>Media</h2> -->

	<div class="loading" ng-show="loadingMedia">
		<h1>Loading...</h1>
		<h4>{{loadingMediaMessage}}</h4>
		<img src="img/insta-logo.png" alt="">
	</div>



	<div class="media-container" ng-show="!loadingMedia">



		<div class="row">
			<div class="col-md-12">
				<p class="intro-sentence weak-gray" ng-show="!media">...You Don't have any media!  Get at it and come back here when you have some stuff</p>
				<p class="intro-sentence weak-gray" ng-show="media">You have {{user.numMedia}} pieces of media.  Please select criteria to filter or order by.</p>
			</div>
		</div>
		<div class="row controls-container">
			<div class="col-md-8 controls" order-by-controls>
				<h6>Order By</h6>
				<li data-type="popularity"class="active">Popularity</li>
				<li data-type="date">Date</li>
				<li data-type="type">Type (Photo/Video)</li>
				<li data-type="random">Random!</li>

			</div>
			<div class="col-md-4 search">
				<h6>Filter By Anything</h6>
				<div class="search-wrapper" searchbar-expand>
					<i class="fa fa-search"></i>
					<input class="search-bar" type="text" placeholder="hastag, location, people, etc" ng-model="myFilter">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-4 fade-in-up" ng-repeat="media in media | filter: myFilter">


				<div class="img-container">
					<img class="media" ng-if="media.type==='image'"ng-src="{{media.images.standard_resolution.url}}" alt="">

					<video class="media" ng-if="media.type==='video'"controls poster="{{media.images.standard_resolution.url}}">
						<source ng-src="{{media.safeurl}}"></source>
					</video>


					<ul class="stats" comment-expand>
						<li><b>Likes:</b> <i>{{media.likes.count}}</i></li>
						<li><span  class="comments-plus" ng-show="media.comments.count" >+</span><b>Comments:</b> <i>{{media.comments.count}}</i></li>


						<ul class="comments hidden">
							<div class="comment" ng-repeat="comment in media.comments.data" >
								<div class="comment-bio ">
									<img class="comment-pic" ng-src="{{comment.from.profile_picture}}">
									<br>
									<span class="comment-name">{{comment.from.full_name || comment.from.username}}</span>
									</div
									><div class="comment-text">
									<li>"{{comment.text}}"</li>
								</div>
							</div>
						</ul><!-- comments -->




					</ul><!-- stats-->


					

				</div><!-- img-container -->
			</div>


		</div>
	</div><!--media container-->







</div> <!-- end of media section, nothing after this-->