<div class="grade fade-in-up">
	<!-- <h2>Grade</h2> -->
	<h4>See your Grade Components, and Final Grade at Bottom of Page</h4>
	<h6>Hold your breath, the moment has come to see your self-worth!</h6>

	<div class="loading" ng-show="loadingEverythingElse">
		<h1>Loading...</h1>
		<h4>{{otherLoadingMessage}}</h4>
		<img src="img/insta-logo.png" alt="">
	</div>

	<div class="grade-container" ng-show="!loadingEverythingElse">

		

		<br>


		<!--_________Num Likes Received__________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>You have a total of {{report.grade.numLikesReceived | number}} likes received!</p>
				<div  class="grade-bar">
					<div score-bar  data-category="numLikesReceived"  class="grade-score"  >
					</div>
				</div>
				<p>Your score is {{scores.numLikesReceived | number:0}}%!</p>
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p><em>This grade component is very simple.  You have a total of {{report.grade.numLikesReceived | number}} likes received on all of your media.  Your score was calculated based on your performance compared to other users.</em></p>
					</div>
				</div>
			</div>
		</div>

		<!--________Likes Ratio__________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>You have a total of {{report.grade.numLikesGiven | number}} likes given!</p>
				<p>Your ratio of likes received to likes given is {{report.grade.likesRatio | number:2}}!</p>
				<div class="grade-bar">
					<div score-bar  data-category="likesRatio" class="grade-score wow" >
					</div>
				</div>
				<p>Your score is {{scores.likesRatio | number:0}}%!</p>
				
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-7" >
								<p><em>A higher ratio means that you receive more likes than you give, and therefore must be more popular, right?  A higher ratio is better for your score.</em></p> 
							</div>
							<div class="col-md-5">
								<equation 
								 numerator="{{report.grade.numLikesReceived | number}} Likes Received"
								 denominator="{{report.grade.numLikesGiven}} Likes Given"
								 result="{{report.grade.likesRatio | number:2}}">
								</equation>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--________Average Number Likes__________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>Your Average number of likes per media is: {{report.grade.averageNumLikes | number: 2 }}</p>
				<div class="grade-bar">
					<div score-bar  data-category="averageNumLikes" class="grade-score wow" >
					</div>
				</div>
				<p>Your score is {{scores.averageNumLikes | number:0}}%!</p>
				
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-7" >
								<p><em>The average number of likes per piece of media is an important statistic.  The performance is graded off of other users.</em></p> 
							</div>
							<div class="col-md-5">
								<equation
								 numerator="{{report.grade.numLikesReceived | number}} Total Likes Received"
								 denominator="{{report.user.numMedia}} Number of Media"
								 result="{{report.grade.averageNumLikes | number:2}}">
								</equation>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--________Adjusted Likes Average__________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>However, your <em>adjusted likes average</em> is {{report.grade.adjustedAverageNumLikes | number: 2}}</p>
				<div class="grade-bar">
					<div score-bar  data-category="adjustedAverageNumLikes" class="grade-score wow" >
					</div>
				</div>
				<p>Your score is {{scores.adjustedAverageNumLikes | number:0}}%!</p>
				
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-8" >
								<p><em>More important than the average number of likes is the adjusted likes average (ALA), a key statistic that differentiates MediaScore.  This is the averange number of likes <strong>per 100 followers.</strong>  Someone might get tons of likes on their InstaGram, but they also might have lots of more followers than another person.  The ALA statistic normalizes these differences and allows one to compare their InstaGram performance to other users.      </em></p> 
							</div>
							<div class="col-md-4">
								<equation style="position: relative; top: 30px;"
								 numerator="{{report.grade.averageNumLikes | number: 2}} Average Number of Likes"
								 denominator="{{report.user.numFollowers/100 | number: 2}}"
								 result="{{report.grade.adjustedAverageNumLikes | number:2}}">
								</equation>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--_____________User Ratio______________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>Your user ratio is {{report.grade.userRatio | number: 2}}</p>
				<div class="grade-bar">
					<div score-bar  data-category="userRatio"class="grade-score wow" >
					</div>
				</div>
				<p>Your score is {{scores.userRatio | number:0}}%!</p>
				
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-7" >
								<p><em>The ratio of followers over follows is another critical element to your InstaGram score.  We all know those people who follow wayy more people than they have followers..  It is important to have more followers than people you follow!  This shows you are cool.  The higher the ratio the better.</em></p> 
							</div>
							<div class="col-md-5" >
								<equation style="position: relative; top: 20px;"
								 numerator="{{report.user.numFollowers | number}} Followers"
								 denominator="{{report.user.numFollows}} Follows"
								 result="{{report.grade.userRatio | number:2}}">
								</equation>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--_____________Self Likes Ratio______________-->
		<div grade-directive class="wow grade-item">
			<span class="plus show-explanation">+</span>
			<div class="grade-visible">
				<p>{{likesRatioMessage}}</p>
				<div class="grade-bar">
					<div score-bar  data-category="selfLikesRatio" class="grade-score wow" >
					</div>
				</div>
				<p>Your score is {{scores.selfLikesRatio | number:0}}%!</p>
				
			</div>
			<div class="grade-explanation">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-7" >
								<p><em>We know you want more likes on your content, but liking your own stuff isn't the way to accomplish that.  The self likes ratio is the measure of a person's self-interest and narcissism.  The lower the ratio the better!  </em></p> 
							</div>
							<div class="col-md-5">
								<equation
								 numerator="{{report.grade.numSelfLikes | number}} Own Likes"
								 denominator="{{report.user.numMedia}} Number of Media"
								 result="{{report.grade.selfLikesRatio | number:2}}">
								</equation>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--_____ Final Score _____-->
		<div class="final-score">	
			<h3>Overall Score</h3>	

			<div class="grade-bar final-grade">
				<div score-bar  data-category="overallScore" class="grade-score wow final-grade" >
				</div>
			</div>
			<p>Your score is {{scores.overallScore | number:0}}%!</p>	
		</div>

		











	</div><!-- grade container-->







</div><!-- grade div, nothing below this-->



















