<div class="map fade-in-up">
	<!-- <h2>Map</h2> -->

	<div class="loading" ng-show="loadingEverythingElse">
		<h1>Loading...</h1>
		<h4>{{otherLoadingMessage}}</h4>
		<img src="img/insta-logo.png" alt="">
	</div>

	<div class="map-container"  google-map ng-if="!loadingEverythingElse">
		<h3>A map of your pictures that have locations.</h3>
		<h6 class="weak-gray">Please click on a marker below to see more info</h6>

			<div id="map" >







			</div>











		</div><!--map-container-->



	</div><!--map div, nothing below this-->





<script async defer ng-if="!loadingEverythingElse"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9odQywTVtdKtoHNJceQD1nVTzhTB5E0U&callback=initMap">
</script>




