<div main-navbar></div>

<div class="user-profile">
	<h1>Profile</h1>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>List of Your Reports</h3>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
					</tr>
				</thead>
				<!-- report.report is the value of the object ID referencing the report -->
				<tr class="report-row" ng-repeat="report in user.reports" ng-click="loadSpecificReport(report.report)">
					<td>{{$index+1}}</td>
					<td>{{report.date | date: 'MMM d &#8217yy, h:m a'}}</td>
				</tr>
			</table>

		</div>



	</div>







	<div class="button" ng-click="newReport()">
		<a>Click to get new report!!</a>
	</div>









	




















</div>