div.home-page{
	text-align: center;
	background: url('../img/az-subtle.png');
	background-attachment: fixed;
}

div.intro-container{
	font-size: 2rem;
	color: #ded1c1;
	color: white;
	text-align: center;
	height: 40%;
	min-height: 500px;
	// background: url('../img/asfalt-dark.png');
	@include blueGradient();
	border-bottom: 2px solid black;
	margin-bottom: 100px;
}

div.intro-content{

	position: relative;
	top: 70px;
	h1{
		font-size: 2.25em;
	}
	h3{
		margin: 20px 0;
		font-size: 1em;
		font-style: italic; 
	}
	div.button{
		border: 1px solid white;
		border-radius: 10px;
		background: $pink;
		display: inline-block;
		// padding: 12px 20px;
		@include transition(.5s ease);
		&.login:hover{
			@include transform(scale(1.01));
			background: darken($pink, 7%);
			@include transition(1.5s ease);
		}
		a{
			padding: 12px 20px;
			display: block;
			color: white;
			font-size: .7em;
			&:hover{
				text-decoration: none;
			}
		}

		&.demo{
			padding: 0 0 0 15px;
			a{
				display: inline;
				position: relative;
				bottom: 6px;
			}
			background: none;
			margin: 15px 0;
			font-size: .7em;
			&:hover{
				cursor: pointer;
				i.arrow{
					padding-left: 10px;
				}
			}
			i.arrow{
				@include transition(.5s ease);
				text-align: left;
				position: relative;
				right: 8px;
				font-size: 1.3em;
				color: white;
				display: inline-block;
				width: 1.8em;
			}
		}
	}

	img.insta-logo{
		margin: 20px 0;
		max-width: 100px;
		@include transition(.5s ease);
		&:hover{
			@include transform(rotate(360deg));
			@include transition(1.2s ease);
		}
	}
}

div.instructions{
	div.row{
		margin-bottom: 100px;
	}
	h2{
		margin: 15px 0 10px;
	}
	min-height: 600px;
	p{
		text-indent: 30px;
		text-align: left;
		font-size: 1.2em;
		line-height: 1.6em;
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
	.fa{
		font-size: 60px;
		color: $instaBlue;
	}







}


footer{
	@include blueGradient();
	padding: 15px 0;
	height: 80px;
	font-size: 1.2em;
	color: white;
	text-align: center;
	border-top: 2px solid black;
	p.copyright{
		margin-bottom: 5px;
	}
}

































