div.results{
	text-align: center;
	// background: url('../img/az-subtle.png');
	h2{
		text-align: center;
		font-family: $header-font;
	}
	img.userProfile{
		width: 100px;
		border-radius: 5px;
		margin-bottom: 20px;

	}
}



div.resultsHeader{
	font-size: 2rem;
	@include blueGradient();
	height: 60px;
	padding-top: 10px;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
	a{
		font-family: $header-font;
		color: white;
		font-size: 1em;
		letter-spacing: 5px;
		float: left;
		margin-left: 10px;
		margin-top: 8px;
	}
}

div.loading{
	margin-top: 50px;
	h1{
		margin-bottom: 50px;
	}
	text-align: center;
	img{
		width: 200px;
		@include animation-name(instaSpinLoad);
		@include animation-iteration-count(infinite);
		@include animation-duration(2s);
	}
}

div.container.results{
	padding: 0;
	border-radius: 50px;
	font-size: 2rem;
	margin-top: 50px;
	@include fadeInUp(1s);
	ul.nav-tabs{
		margin-bottom: 0px;
		li{
			a{
				font-family: $header-font;
				color: $instaBlue;
				font-size: .7em;
			}
			&.active{
				a{
					background: #fafafa;
				}
			}
			&:hover{
				a{
					background: #fafafa;
				}
			}
		}
	}
}

div.results-content{
	padding-top: 20px;
	@include border-bottom-radius(50px);
	background: #fafafa;
	min-height: 500px;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 100px;
	padding-bottom: 0px;
}



