div.grade, div.relationships, div.more-analytics, div.media{
	min-height: 600px;
	font-size: 2rem;
	text-align: center;
	h2{
		text-decoration: underline;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h4{
		margin: 10px 0;
		font-size: 1em;
	}
	h5{
		font-size: .9em;
	}
	p{
		font-size: .6em;
	}
}











