div.grade, div.relationships, div.more-analytics, div.media, div.map{
	min-height: 600px;
	font-size: 2rem;
	text-align: center;
	h2{
		text-decoration: underline;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h3{
		font-size: 1.2em;
	}
	h4{
		margin: 10px 0;
		font-size: 1em;
	}
	h5{
		font-size: .9em;
	}
	p{
		font-size: .6em;
	}

	li.name{
		height: 35px;
		font-size: .5em;
		list-style-type: none;
	}
	




	a.show-more{
		font-size: .7em;
		color: $instaBlue;
		@include transition(.4s ease);
		&:hover{
			color: darken($instaBlue, 10%);
			text-decoration: none;
		}
	}







}  // end of all divs











