div.map{

	div#map{
		height: 700px;
		width: 100%;
		margin-bottom: 30px;
	}


	div.info-window{
		max-width: 300px;
	}

	img.location-pic{
		width: 200px;
	}

	p{
		font-size: 1.5em;
	}












}