div.settings{
	text-align: center;
	font-size: 1.5rem;
	@include tabletOrLess {
		font-size: 1.2rem;
	}

	h1.top-header{
		font-size: 1.6em;
		margin-bottom: 20px;
		@include smallphone {
			font-size: 1.4em;
		}
	}

	h2.intro{
		font-size: .9em;
		text-decoration: none;
		@include phoneOrLess {
			font-size: .8em;
		}
	}


	button.delete-account{
		cursor: pointer;
		font-family: $header-font;
		padding: 5px 15px;
		border-radius: 5px;
		font-size: .8em;
		border: 2px solid $instaBlue;
		background: #fafafa;
		@include transition(.4s ease);
		&:hover{
			background: $instaBlue;
			border-color: black;
			color: white;
		}
		i.fa{
			margin-left: 10px;
		}
	}


	///////////////////////////////////////////////////
	//  Delete Account Modal
	///////////////////////////////////////////////////
	div.modal{
		button.close{
			font-size: 30px;
		}

		p.goodbye-message{
			line-height: 1.5em;
			text-align: left;
		}

		button.delete-account-final{
			cursor: pointer;
			font-size: .7em;
			font-family: $header-font;
			padding: 5px 15px;
			border-radius: 5px;
			background: #D91E18;
			border: 1px solid black;
			color: white;
			@include transition(.4s ease);
			&:hover{
				background: darken(#D91E18, 10%);
			}

		}






	}























}