//entire wrapper, whole page
div.stats{
	text-align: center;

	div.not-enough-reports {
		h1{
			margin-bottom: 20px;
		}
		i.fa-lock{
			font-size: 200px;
			@include tabletOrLess {
				font-size: 130px;
			}
			@include phoneOrLess {
				font-size: 70px;
			}
			margin-top: 80px;
			@include tabletOrLess {
				margin-top: 40px;
			}
		}
	}




	select{
		margin: auto;
		margin-top: 5px;
		width: 250px;
		&:focus{
			border-color: $instaBlue;
		}

	}


	div#stats-graph{
		min-height: 500px;
	}

	div.chart-container{
		margin-top: 20px;
	}


} // end of stats div









