div.faq{
	font-size: 1.6rem;
	@include tabletOrLess {
		font-size: 1.45rem;
	}
	@include phoneOrLess {
		font-size: 1.35rem;
	}
	text-align: center;
	padding-bottom: 120px;

	h1{
		text-decoration: underline;
		margin-bottom: 10px;
		@include phoneOrLess {
			font-size: 1.3em;
		}
	}



	p{
		font-size: .65em;
		text-align: left;
		line-height: 1.5em;
	}


	div.question-box{
		padding: 10px 20px 10px 40px;
		margin-bottom: 10px;
		border-radius: 7px;
		// border: 1px solid black;
		min-height: 50px;
		background: #fafafa;
		position: relative;
		&:hover{
			background: #eee;
			cursor: pointer;
		}
		&.reveal i.fa-caret-right{
			@include transform(rotate(90deg));
			// color: $pink;
		}
	}

	i.fa-caret-right{
		color: $instaBlue;
		font-size: 40px;
		@include phoneOrLess {
			font-size: 30px;
			top: 15px;
		}
		left: 10px;
		position: absolute;
		top: 11px;
		@include transition(.4s ease);
	}

	p.question-text{
		font-family: $header-font;
		font-size: .8em;
		padding-top: 12px;
		margin-left: 80px;
		@include smallphone {
			margin-left: 40px;
		}
	}

	p.answer-text{
		font-size: .6em;
		margin-left: 120px;
		margin-top: 20px;
		@include smallphone {
			margin-left: 60px;
		}
		a{
			text-decoration: underline;
			color: $instaBlue;
		}
	}




















































} // end of faq container, nothing below this