div.results{
	text-align: center;
	// background: url('../img/az-subtle.png');
	h2{
		text-align: center;
		font-family: $header-font;
		font-size: 2em;
		@include tabletOrLess {
			font-size: 1.5em;
		}
		@include phoneOrLess {
			font-size: 1.3em;
		}
	}
	h6.report-time{
		font-size: 1.2em;
		@include tabletOrLess {
			font-size: 1.1em;
		}
		@include phoneOrLess {
			font-size: 1em;
		}
		font-style: italic;
		color: #B0B0B0;
		margin-top: 5px;
	}



}







// search bar, repeated in media, and relationships sections

div.search-wrapper{
	position: relative;
	margin-right: 40px;
	width: 270px;
	padding-left: 30px;
	padding-right: 5px;
	border-radius: 17px;
	height: 34px;
	border: 2px solid #ddd; 
	float: right;
	input{
		// display: table;
		padding-left: 2px;
		position: relative;
		bottom: 6px;
		border-radius: 3px;
		font-size: .5em;
		width: 95%;
		border: none;
		background: #fafafa;
		&:focus{
			outline: none;
			border: none;
		}
	}
	// search fontawesome icon
	i.fa-search{
		color: #ddd;
		font-size: .65em;
		position: absolute;
		left: 7px;
		top: 6px;
	}
}

// for relationships section, tweak searchbar a bit
div.relationships div.search-wrapper{
	float: none;
	margin: 5px auto 20px;
}








div.loading{
	margin-top: 50px;
	h1{
		margin-bottom: 50px;
	}
	text-align: center;
	img{
		width: 100px;
		@include animation-name(instaSpinLoad);
		@include animation-iteration-count(infinite);
		@include animation-duration(2s);
	}
}

div.container.results{
	padding: 0;
	border-radius: 50px;
	font-size: 2rem;
	margin-top: 50px;
	@include fadeInUp(1s);
	ul.nav-tabs{
		margin-bottom: 0px;
		li{
			a{
				font-family: $header-font;
				color: $instaBlue;
				font-size: .7em;
				@include tabletOrLess {
					font-size: .6em;
				}
				@include phoneOrLess {
					font-size: .5em;
					padding-right: 10px;
					padding-left: 10px;
				}
				@include smallphone {
					padding-right: 5px;
					padding-left: 5px;
				}
			}
			&.active{
				a{
					background: #fafafa;
				}
			}
			&:hover{
				a{
					background: #fafafa;
				}
			}
		}
	}
}

div.results-content{
	padding-top: 20px;
	@include border-bottom-radius(50px);
	background: #fafafa;
	min-height: 500px;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 100px;
	padding-bottom: 0px;
}




//______Stuff that was in separate "results content file", clean up later____________


div.grade, div.relationships, div.analytics, div.media, div.map{
	min-height: 600px;
	font-size: 2rem;
	@include tabletOrLess {
		font-size: 1.8rem;
	}
	@include phoneOrLess {
		font-size: 1.6em;
	}
	@include smallphone {
		font-size: 1.5em;
	}
	text-align: center;
	h2{
		text-decoration: underline;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h3{
		font-size: 1.2em;
	}
	h4{
		margin: 10px 0;
		font-size: 1em;
	}
	h5{
		font-size: .9em;
	}
	h6{
		font-size: .65em;
	}
	p{
		font-size: .6em;
	}





	a.show-more{
		font-size: .7em;
		color: $instaBlue;
		@include transition(.4s ease);
		&:hover{
			color: darken($instaBlue, 10%);
			text-decoration: none;
		}
	}







}  // end of all divs




