div.account{
	div.results-content{
		padding-bottom: 100px;
	}


	// default sizing, same as report.scss

	h2{
		text-decoration: underline;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h3{
		font-size: 1.2em;
	}
	h4{
		margin: 10px 0;
		font-size: 1em;
	}
	h5{
		font-size: .9em;
	}
	h6{
		font-size: .65em;
	}
	p{
		font-size: .6em;
	}













}// end of account div