///////////////////////////////////////////////////
	//  Share on fadebook, twitte,r buttons
	///////////////////////////////////////////////////

	div.share-facebook{
		display: inline-block;
		cursor: pointer;
		padding-left: 30px;
		border: 1px solid black;
		width: 120px;
		height: 40px;
		border-radius: 5px;
		background: #3B5998;
		color: white;
		margin: auto;
		margin-top: 30px;
		a{
			display: inline-block;
			height: 30px;
			font-weight: normal;
			// background: gold;
			border-left: 2px solid rgba(0,0,0,.7);
			padding-left: 20px;
			padding-top: 7px;
			position: relative;
			bottom: 5px;
			font-size: .6em;
			font-family: $header-font;
			i{
				font-size: 1.3em;
				position: absolute;
				left: -30px;
				bottom: 2px;
			}
		}
		} // end share facebook button

		// twitter button
		div#twtbox{
			margin-left: 10px;
			position: relative;
			top: 5px;
			display: inline-block;
			font-family: $header-font;
			div.btn-o{
				a.btn{
					font-family: $header-font;
				}
			}
		}