@mixin blueGradient(){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2680ff+1,458eff+41,5b9dff+100 */
background: #2680ff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #2680ff 1%, #458eff 41%, #5b9dff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#2680ff), color-stop(41%,#458eff), color-stop(100%,#5b9dff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #2680ff 1%,#458eff 41%,#5b9dff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #2680ff 1%,#458eff 41%,#5b9dff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #2680ff 1%,#458eff 41%,#5b9dff 100%); /* IE10+ */
background: linear-gradient(135deg,  #2680ff 1%,#458eff 41%,#5b9dff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2680ff', endColorstr='#5b9dff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

// footer gradient
@mixin grayGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,262626+64,333333+100 */
background: #1e1e1e; /* Old browsers */
background: -moz-linear-gradient(left,  #1e1e1e 0%, #262626 64%, #333333 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1e1e1e 0%,#262626 64%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1e1e1e 0%,#262626 64%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
}




@mixin fadeInUp($duration){
	@include animation(fadeInUp $duration ease);
}

@include keyframes(instaSpinLoad) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}

@include keyframes(fadeInUp){
	from{
		opacity: 0;
		padding-top: 100px;
	}
	to{
		opacity: 1;
		padding-top: 0px;
	}
}

// for animating bar chart in likes comparison part
@include keyframes(barGrowth){
	from{
		max-width: 0%;
	}
	to{
		max-width: 100%;
	}
}




.fade-in-up{
	@include fadeInUp(1s);
}

@include keyframes(slideDown) {
	0% {
		// height: 0px;
		opacity: 0;
	}
	100% {
		// height: 100px;
		opacity: 1;
	}
}

.slide-down{
	@include animation(slideDown .7s ease);
}


@include keyframes(pulse) {
	0% { @include transform(scale(1)); }
	50% { @include transform(scale(1.2)); }
	100% { @include transform(scale(1)); }
}

.pulse{
	@include animation(pulse 3s linear);
	@include animation-iteration-count(infinite);
}














