//entire wrapper, whole page
div.stats{
	text-align: center;


	

	select{
		margin: auto;
		margin-top: 5px;
		width: 250px;
		&:focus{
			border-color: $instaBlue;
		}

	}


	div#stats-graph{
		min-height: 500px;
	}

	div.chart-container{
		margin-top: 20px;
	}


} // end of stats div









