footer.my-footer{
	position: absolute;
	bottom: -1px;
	font-size: 1rem;
	// padding-bottom: 30px;
	// background: #1e1e1e;
	@include grayGradient();
	height: $footerHeight;
	width: 100%;
	// position: relative;
	// font-family: $header-font;
	// font-size: 20px;

	div.footer-content{
		padding-top: 15px;
	}



	div.footer-group{
		margin: auto;
		// background: red;
		width: 60px;
		// display: inline-block;
	}

	li{
		font-size: 1.1em;
		@include transition(.4s ease);
		font-family: $header-font;
		&:not(:last-of-type){
			margin-bottom: 5px;
		}
		cursor: pointer;
		color: #bbb;
		&:hover{
			color: white;
		}

		// all links in list elements
		a{
			font-family: $header-font;
			color: inherit;
		}
	}

	div.copyright-wrapper{
		text-align: center;
	}

	p{
		font-size: 1em;
		font-family: $header-font;
		color: #bbb;
	}

	p.copyright{
		display: inline-block;
		margin: 5px auto 5px;
		@include phoneOrLess {
			margin-top: 15px;
		}
		position: relative;
		// wanted to make copyright icon bigger
		span{
			font-size: 2em;
			position: absolute;
			left: -26px;
			bottom: -10px;
		}
	}

	p.created-by{
		position: relative;
		right: 11px;
		a{
			text-decoration: underline;
			font-family: $header-font;
			@include transition(.9s ease);
			&:hover{
				color: $pink;
			}
		}
	}













} // end of footer