div.privacy{
	text-align: center;
	font-size: 1rem;
	@include tabletOrLess {
		font-size: .9rem;
	}
	@include phoneOrLess {
		font-size: .8rem;
	}
	h1{
		text-decoration: underline;
		font-size: 3em;
		@include phoneOrLess {
			font-size: 2.5em;
		}
	}
	h3{
		@include phoneOrLess {
			font-size: 1.3em;
		}
	}

	ol.privacy-list{
		margin-bottom: 50px;
		font-size: .95em;
		text-align: left;
		margin-top: 20px;
		li{
			line-height: 1.6em;
			padding-left: 40px;
			position: relative;
			// text-indent: 25px;
			span{
				position: absolute;
				font-size: 1.6em;
				left: 0px;
				top: -3px;
				color: $weakGray;
				// margin-right: 25px;
			}
			&:not(:last-of-type){
				margin-bottom: 15px;
			}
		}
	}



}